<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Classes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <body>
        <!-- Form to add students-->
        <h2>Manage Classes</h2>
        <form id="add_classes_form" method="POST" action="/add_classes_form">
            <!--search by city and country-->
            <!--&nbsp; adds space-->
            <fieldset>
                <legend>Add Classes</legend>
                <label for="className">Class Name:</label>
                <input type="text" name="className" id="className" size="30" maxlength="255" required="requried">&nbsp;
                <br>
                <br>
                <select name="teacherID" id="teacherID" required="required">
                    <option value="">Select a Teacher ID</option>
                    {{#each Teachers}}
                    <option teacherID="{{this.id}}">{{this.teacherID}}&nbsp&nbsp<label>  Teacher:</label> {{this.firstName}}  {{this.lastName}}</option>
                    {{/each}}
                </select>
                <br>
                <br>
                   <select name="classroomID" id="classroomID" required="required">
                    <option value="">Select a Classroom ID</option>
                    {{#each Classrooms}}
                    <option classroomID="{{this.id}}">{{this.classroomID}}&nbsp&nbsp <label>  Classroom:</label> {{this.classroomNum}}</option>
                    {{/each}}
                </select>
                <br>
                <br>
                <button type="submit" id="addClassroom">Add Classes</button>
        </form>
        <br><br>

        <!--display results -->
        <fieldset>
            <legend>Current Classes</legend>

            <small>Displays all classes from database</small>
            <br>
            <br>
            <table>
                <tr>
                    <th scope="col">Class ID</th>
                    <th scope="col">Class Name</th>
                     <th scope="col">Teacher ID</th>
                    <th scope="col">Classroom ID</th>
                </tr>



                           <tbody>

        {{#each Classes}}
        <tr>
            <td>{{this.classID}}</td>
            <td>{{this.className}}</td>
            <td>{{this.teacherID}}</td>
            <td>{{this.classroomID}}</td>
            
        
        </tr>
        {{/each}}

       
    </tbody>

            </table>

        </fieldset>
        <br>
        <br>

        <p>
            <a href="index.html"> Back to Home Page</a>
        </p>
        <script src="" async defer></script>
    </body>

</html>