<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Assigned Classes</title>
    <meta name="studentClasses" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>


    <h2>Manage Student Assigned Classes</h2>

    <form>

        <!--&nbsp; adds space-->
        <fieldset>
            <legend>Assign a Class to a Student</legend>
            <label for="classID">Class ID:</label>
            <input type="number" name="classID" id="classID" size="15" required="requried">&nbsp;
            <br>
            <br>
            <label for="studentID">Student ID:</label>
            <input type="number" name="studentID" id="studentID" size="15" required="requried">&nbsp;
            <br>
            <br>
            <button type="submit" id="assignClass">Assign Class</button>
        </fieldset>
        <br><br>
        <fieldset>
            <legend>Current Student Assigned Classes</legend>

            <small>Displays all students and corresponding classes from database with option to delete a student from the class</small>
            <br>
            <br>
            <table>
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Class ID</th>
                    <th scope="col">Class Name</th>

                    {{!-- <tr>
                        <td><span id="studenttID"></span></td>
                        <td><span id="name"></span></span>
                        </td>
                        <td><span id="classID"></span></span>
                        </td>
                        <td><span id="className"></span></span>
                        </td>


                        <td><input type="button" value="Delete Student" id="deleteStudent" onclick="deleteStudent"></td>


                    </tr> --}}
                      <tbody>

        {{#each StudentClasses}}
        <tr>
            <td>{{this.studentID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.classID}}</td>
            <td>{{this.className}}</td>
            
       
        </tr>
        {{/each}}

       
    </tbody>

            </table>
        </fieldset>
</body>

<p>
    <a href="index.html"> Back to Home Page</a>
</p>
<script src="" async defer></script>


</html>