<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Assigned Classes</title>
    <meta name="studentClasses" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="./js/delete_student.js"></script>
    
</head>

<body>


    <h2>Manage Student Assigned Classes</h2>

    <form id="add_studentClasses_form" method="POST" action="/add_studentClasses_form">

        <!--&nbsp; adds space-->
        <fieldset>
            <legend>Assign a Class to a Student</legend>

                <select name="classID" id="classID" required="required">
                    <option value="">Select a Class ID</option>
                    {{#each Classes}}
                    <option classID="{{this.id}}">{{this.classID}}&nbsp&nbsp<label>  Class:</label> {{this.className}} </option>
                    {{/each}}
                </select>
                <br>
                <br>
                   <select name="studentID" id="studentID" required="required">
                    <option value="">Select a Student ID</option>
                    {{#each Students}}
                    <option studentID="{{this.id}}">{{this.studentID}}&nbsp&nbsp <label>  Student:</label> {{this.lastName}} {{this.firstName}}</option>
                    {{/each}}
            </select>
            <br>
            <br>
            <button type="submit" id="assignClass">Assign Class</button>
            
        </fieldset>
        </form>  
        <br><br>
        <fieldset>
            
            <legend>Current Student Assigned Classes</legend>

            <small>Displays all students and corresponding classes from database with option to delete a student from the class</small>
            <br>
            <br>
            <table>
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Class ID</th>
                    <th scope="col">Class Name</th>

          
                      <tbody>

        {{#each StudentClasses}}
        <tr>
            <td>{{this.studentID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.classID}}</td>
            <td>{{this.className}}</td>
            <td><button onclick="deleteStudent({{this.studentID}})">Delete Student</button></td>
            
        </tr>
        {{/each}}

       
    </tbody>

            </table>
        </fieldset>
</body>

<p>
    <a href="index.html"> Back to Home Page</a>
</p>


</html>